body{
	/*background-color: linen;*/
	background-image: url("Pictures/damintake.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 
body,html{
	height: 100%;
}
#hr{
	display: inline;
	font-size: 30px;
	padding: 20px;

	
}
#hr:hover   {
        
        background-color:violet; 
        text-decoration:none; 
        padding: 30px;
    }    
#a{
	text-decoration: none;
	color: black;

}
#a:hover{
	color: red; 

}
.div1{
	background-color: lightgreen;
	padding: 20px;
}